h1
{
  text-align: center;
  color: black;
  font-family:sans-serif;
}

form{
  text-align: center;
}
button {
  margin-top: 10px;
  margin-right: 10px;
  
}

.searchDiv{
  text-align: center;
  text-shadow: 20px;
}
.resize{
  width: 200px;
  height: auto;
  margin-top: 10px;
}
.img-div{
  
  flex-flow: row wrap;
}
